/* Styling general*/

* {
    margin: 0;
    padding: 0;

}
 .line{
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #7C7C7C;
    float:left;
}


/* Styling for header.html*/
.header {
  background-color: #555;
  color: #f1f1f1;
}


.header2 {
  background-color: #DCE9CF;


}
.search-bar {
    text-align: center;
}

.search-bar input{
    float: center;
    background-color: white;
    width: 45%;
    display: inline-block;
}

/* Styling for book_info.html*/


div.book-info-top{
    align-self: center;
    overflow: auto;
    padding-top:20px;
}

div.book-image {
    text-align: left;
    padding:0px 20px 0px 20px;
    height: 400px;
    float: left;
}

.book-image{
    height:400px;
    width: auto;
}
.book-image img{
    height: 100%;
}

div.book-detail {
    text-align: left;
    overflow: auto;
}

div.rating {
    float: left;
}


div.rating-star {
    background-color: gold;
    height: 40px;
}
div.rating-star img{
    height:100%;

}

div.book-info-middle {
    overflow: auto;
    width: auto;
    padding: 20px;
}
div.book-description {
    float: left;
}

.book-info-table{
    overflow: auto;
    text-align:center;
    height: 5%;

}
.book-info-table table{
    border: none;
    width: 80%

}

.book-info-table td{
    border: none;
    width: 100%
}
.book-info-table th{
    border: none;
    width: 50%
}

.book-info-table tr:nth-child(odd){
    background-color: #EEEEEE;

}


/* Styling for list_of_book.html*/


.column {
  float: right;
  padding-left: 30px;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}






.container{
    width: 70%;
    margin: auto;
    margin-bottom: 200px;
    overflow: hidden;
    background: skyblue;
    margin-top: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


.container ul li{
    float:left;
    list-style: none;
    width:230px;
    height:344px;
    background: red;
    margin :50px 0px 150px 80px;
    border:2px solid blue;
    box-sizing: border-box;
}
.image_of_book:hover{
    opacity: 0.8;
}

.container ul li .bottom{
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 15px;

}

.container ul li .bottom .button1{


}

@media screen and (max-width:1250px){
    .container ul li{
        width:40%;
        margin-left: 40px;

}

